[Unit]
Description=Store-Ops Photo Uploader
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/storeops/app.py
Restart=always
User=root
Environment=STOREOPS_BUCKET=<STOREOPS_BUCKET_NAME>

[Install]
WantedBy=multi-user.target
